Repository openshift/external-secrets-operator-release: changes, and which Tekton pipelines are due for each by the changed paths.
All: external-secrets-operator-fbc-on-pull-request, external-secrets-operator-index-4-21-on-pull-request, external-secrets-operator-index-4-22-on-pull-request

external-secrets-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/external-secrets-oap-tenant/external-secrets-operator-fbc/external-secrets-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

external-secrets-operator-index-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/external-secrets-oap-tenant/external-secrets-operator-4-21/external-secrets-operator-index-4-21:on-pr-{{revision}}
  - name: image-expires-after
  ...

external-secrets-operator-index-4-22-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/external-secrets-oap-tenant/external-secrets-operator-4-22/external-secrets-operator-index-4-22:on-pr-{{revision}}
  - name: image-expires-after
  ...

ESO-333: Updates the image shas to the latest stage builds
  images_digest.conf
Due: none

Red Hat Konflux update external-secrets-operator-index-4-18
  .tekton/external-secrets-operator-index-4-18-pull-request.yaml
  .tekton/external-secrets-operator-index-4-18-push.yaml
Due: none

ESO-280: Updates fbc builder and pipeline ref in 4.18 defs
  .tekton/external-secrets-operator-index-4-18-pull-request.yaml
  .tekton/external-secrets-operator-index-4-18-push.yaml
Due: none

ESO-280: Adds 4.18 catalog and updates channel and bundle for 1.1.0
  catalogs/v4.18/Containerfile
  catalogs/v4.18/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.18/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v4.18/catalog/openshift-external-secrets-operator/package.yaml
  catalogs/v4.19/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.20/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v4.21/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.21/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v4.22/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.22/catalog/openshift-external-secrets-operator/channel.yaml
Due: external-secrets-operator-index-4-21-on-pull-request, external-secrets-operator-index-4-22-on-pull-request

ESO-256: Updates latest operator image in the bundle
  images_digest.conf
Due: none

ESO-256: Updates latest bundle image in 4.18-4.22 catalogs
  catalogs/v4.18/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.19/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.20/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.21/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.22/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
Due: external-secrets-operator-index-4-21-on-pull-request, external-secrets-operator-index-4-22-on-pull-request

NO-JIRA: Updates catalog images to use ose-operator-registry-rhel9 public image
  catalogs/v4.18/Containerfile
  catalogs/v4.19/Containerfile
  catalogs/v4.20/Containerfile
  catalogs/v4.21/Containerfile
  catalogs/v4.22/Containerfile
Due: external-secrets-operator-index-4-21-on-pull-request, external-secrets-operator-index-4-22-on-pull-request

ESO-261: Updates bundle with 1.1.0 prod images
  images_digest.conf
Due: none

ESO-261: Updates 1.1.0 bundle image in 4.18-4.22 catalogs
  .tekton/external-secrets-operator-fbc-pull-request.yaml
  .tekton/external-secrets-operator-fbc-push.yaml
  .tekton/external-secrets-operator-index-4-18-pull-request.yaml
  .tekton/external-secrets-operator-index-4-18-push.yaml
  catalogs/v4.18/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.19/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.20/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.21/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
  catalogs/v4.22/catalog/openshift-external-secrets-operator/bundle-v1.1.0.yaml
Due: external-secrets-operator-fbc-on-pull-request, external-secrets-operator-index-4-21-on-pull-request, external-secrets-operator-index-4-22-on-pull-request

NO-JIRA: Updates renovate config to include branch details in PR title
  renovate.json
Due: none

Red Hat Konflux update external-secrets-operator-index-5-0
  .tekton/external-secrets-operator-index-5-0-pull-request.yaml
  .tekton/external-secrets-operator-index-5-0-push.yaml
Due: none

ESO-404: Updates konflux specific configs for v1.2.0 release
  .gitmodules
  .tekton/bitwarden-sdk-server-1-2-pull-request.yaml
  .tekton/bitwarden-sdk-server-1-2-push.yaml
  .tekton/external-secrets-1-1-pull-request.yaml
  .tekton/external-secrets-1-2-pull-request.yaml
  .tekton/external-secrets-1-2-push.yaml
  .tekton/external-secrets-operator-1-2-pull-request.yaml
  .tekton/external-secrets-operator-1-2-push.yaml
  .tekton/external-secrets-operator-bundle-1-2-pull-request.yaml
  .tekton/external-secrets-operator-bundle-1-2-push.yaml
  Containerfile.bitwarden-sdk-server
  Containerfile.external-secrets
  Containerfile.external-secrets-operator
  Containerfile.external-secrets-operator.bundle
  Makefile
  README.MD
  cachi2-prefetch-configs/bitwarden-sdk-server/gomod/go.mod
  cachi2-prefetch-configs/bitwarden-sdk-server/gomod/go.sum
  go.mod
  go.sum
  hack/containerfile-linter.sh
  hack/renovate-config-validator.sh
  hack/shell-scripts-linter.sh
Due: none

ESO-406: Updates bundle with 1.2.0 staged images digest
  images_digest.conf
Due: none

ESO-406: Updates v1.2.0 bundle in 4.19-5.0 catalogs
  .tekton/external-secrets-operator-index-5-0-pull-request.yaml
  .tekton/fbc-build-pipeline.yaml
  Makefile
  README.MD
  catalogs/v4.19/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.19/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v4.20/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.20/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v4.21/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.21/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v4.22/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.22/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v5.0/Containerfile
  catalogs/v5.0/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v5.0/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v5.0/catalog/openshift-external-secrets-operator/package.yaml
  hack/renovate-config-validator.sh
  hack/shell-scripts-linter.sh
  hack/update_catalog.sh
Due: external-secrets-operator-index-4-21-on-pull-request, external-secrets-operator-index-4-22-on-pull-request

ESO-406: Updates external-secrets image build tags to include all providers
  Containerfile.external-secrets
Due: none

ESO-406: Updates the latest external-secrets staged image in bundle
  images_digest.conf
Due: none

ESO-406: Updates the latest bundle staged image 4.19-5.0 catalogs
  .tekton/external-secrets-operator-index-4-18-push.yaml
  .tekton/external-secrets-operator-index-5-0-push.yaml
  catalogs/v4.19/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.20/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.21/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.22/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v5.0/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
Due: external-secrets-operator-index-4-21-on-pull-request, external-secrets-operator-index-4-22-on-pull-request

ESO-481: Updates latest operator staged image in bundle
  images_digest.conf
Due: none

ESO-481: Updates latest bundle staged image in 4.19 - 5.0 catalogs
  catalogs/v4.19/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.20/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.21/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.22/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v5.0/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
Due: external-secrets-operator-index-4-21-on-pull-request, external-secrets-operator-index-4-22-on-pull-request

ESO-400: Updates the latest prod images of operator, operand in bundle
  images_digest.conf
Due: none

ESO-400: Updates the latest bundle images in 4.19 - 5.0 OCP catalogs
  .tekton/external-secrets-operator-index-5-0-pull-request.yaml
  .tekton/external-secrets-operator-index-5-0-push.yaml
  catalogs/v4.19/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.19/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v4.20/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.20/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v4.21/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.21/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v4.22/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v4.22/catalog/openshift-external-secrets-operator/channel.yaml
  catalogs/v5.0/catalog/openshift-external-secrets-operator/bundle-v1.2.0.yaml
  catalogs/v5.0/catalog/openshift-external-secrets-operator/channel.yaml
Due: external-secrets-operator-index-4-21-on-pull-request, external-secrets-operator-index-4-22-on-pull-request

NO-JIRA: Enable auto-merge for konflux/mintmaker bot created PRs
  renovate.json
Due: none

ESO-400: Updates the containerfiles to use go-toolset builder image
  Containerfile.bitwarden-sdk-server
  Containerfile.external-secrets
  Containerfile.external-secrets-operator
  Containerfile.external-secrets-operator.bundle
Due: none

Apply suggestions from code review
  Containerfile.bitwarden-sdk-server
  Containerfile.external-secrets
  Containerfile.external-secrets-operator
  Containerfile.external-secrets-operator.bundle
Due: none

ESO-400: Updates Containerfiles with tweaks as required by go-toolset builder image
  Containerfile.bitwarden-sdk-server
  Containerfile.external-secrets
  Containerfile.external-secrets-operator
  Containerfile.external-secrets-operator.bundle
  hack/bundle/render_templates.sh
Due: none

Adds the submodules for release 1.0.1 z-stream
  .gitmodules
Due: none

Updated the tekton configs as per the required versions
  .tekton/bitwarden-sdk-server-1-0-pull-request.yaml
  .tekton/bitwarden-sdk-server-1-0-push.yaml
  .tekton/external-secrets-1-0-pull-request.yaml
  .tekton/external-secrets-1-0-push.yaml
  .tekton/external-secrets-operator-1-0-pull-request.yaml
  .tekton/external-secrets-operator-1-0-push.yaml
  .tekton/external-secrets-operator-bundle-1-0-pull-request.yaml
  .tekton/external-secrets-operator-bundle-1-0-push.yaml
Due: none

updated the cachi2-prefetch-configs go mod
  cachi2-prefetch-configs/bitwarden-sdk-server/gomod/go.mod
  cachi2-prefetch-configs/bitwarden-sdk-server/gomod/go.sum
Due: none

Path conditions:
  external-secrets-operator-fbc-on-pull-request: (any of: catalog/***) or (any of: .tekton/external-secrets-operator-fbc-pull-request.yaml)
  external-secrets-operator-index-4-21-on-pull-request: (any of: catalogs/v4.21/***) or (any of: .tekton/external-secrets-operator-index-4-21-pull-request.yaml)
  external-secrets-operator-index-4-22-on-pull-request: (any of: catalogs/v4.22/***) or (any of: .tekton/external-secrets-operator-index-4-22-pull-request.yaml)
